@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
//variables
$green: #009245;
$black: #2D2926;

$green-hover: rgb(0, 87, 40);

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}
body{
    background-color: #f8f9fa !important;
}
.btn{
    background-color: $green !important;
    color: #fff !important;
    transition: all 300ms;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid $green;
    &:hover{
        background-color: $green-hover !important;
        color: #fff !important;
    }
}
a.card-link{
    background-color: #fff !important;
    color: $black !important;
    border: 2px solid $green;
}
.btn-secondary{
    background: none;
    color: $black;
    border: 2px solid $green;
    transition: all 300ms;
    &:hover{
        background-color: $green-hover;
        color: #fff;
    }
}
.cursor-pointer{
    cursor: pointer;
}
.active{
    border-bottom: 2px solid $green;
}
.hide-cont, .menu_btn{
    display: none !important;
}

@media (max-width: 984px){
    .hide{
        display: block !important;
    }
    .mob-view{
        display: none;
    }
    #menu{
        min-height: max-content;
    }
    .offcanvas{
        width: 50vw !important;
        background-color: $green;
        .offcanvas-header{
            button{
                background: none;
                color: #fff !important;
                opacity: 1;
                border: none;
            }
        }
        ul li{
            margin: 2rem 0;
            a{
                color: #fff;
            } 
        }
    }
}
@media (max-width: 560px){
    .fs-md-2{
        font-size: 1.5rem !important;
    }
    .fs-md-1{
        font-size: 1rem !important;
    }
    .slide-container {
        .text{
            top: 50% !important;
            h3{
                font-size: 1rem;
            }
            p{
                font-size: .7rem;
            }
        }
    }
}