@import 'utils';

.banner {
    img {
        width: 100%;
        height: 1rem;
        display: block;
    }
}

nav {
    background-color: #fff !important;
    box-shadow: 10px 0 25px #9c9c9c63;
    border-bottom: 3px solid $green;

    ul {
        .nav-link {
            position: relative;
            color: #000;
            // font-size: 1.2rem;
            margin-left: .5rem;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $green;
                transition: all 400ms;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySwiper {
    img {
        width: 100%; 
        max-height: 50vh;
    }
}

.slide-container {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000062;
        z-index: 2;
    }

    .text {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 80%;

        h3 {
            font-size: clamp(1.5rem, 2vw, 2.8rem);
        }

        p {
            font-size: clamp(.8rem, 2vw, 1.5rem);
        }
    }
}

.mySwiper {
    max-height: 50vh;
}

.swiper-slide {
    width: 100% !important;
}

.carousel-caption {
    display: block;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }
}

#about,
#partners,
#vacancy {
    h2 {
        font-size: clamp(1.5rem, 1.5vw, 2rem);
        background-color: $green;
        color: #fff;
        padding: 0;
    }

    h3 {
        font-size: clamp(1.5rem, 1.5vw, 2rem);
        color: $green;
    }
}

#vacancy {
    h3 {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        color: unset;
    }

    p.sub-title {
        color: gray;
        font-size: .8rem;
    }
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100% !important;

    .card-custom {
        width: 18rem;
        border: none;
        border: 1px solid $green;
        border-top: 3px solid $green;
        transition: all 300ms;
        padding-bottom: 1rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.about h5 {
    font-weight: bold;
}

.job-list {
    h2 {
        font-size: clamp(1.5rem, 1.5vw, 1.7rem);
    }
}

#menu {
    h3 {
        font-size: clamp(1rem, 1.5vw, 1.3rem);
    }

    li {
        padding: 0 !important;
    }

    a {
        color: $green;

        h3 {
            margin: 0;
        }
    }
}

#about p,
.card-text {
    font-size: clamp(1rem, 1.5vw, 1.1rem) !important;
}

.card-text {
    padding: .5rem 0;
    line-height: 1.8rem;
}

.card-subtitle {
    font-size: 0.8rem !important;
}

.custom-container {
    max-width: 800px;
}

label,
input::placeholder {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}

footer {
    margin-top: 3rem;

    .footer {
        background: $green;
        padding: .5rem 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}